{% extends "admin_base.html" %}

{% block content %}
<h1>Quản lý người dùng</h1>

<a href="{{ url_for('admin_add_user') }}">Thêm người dùng mới</a>
<link rel="stylesheet" href="/static/admin_products.css">
<table>
    <tr>
        <th>ID</th>
        <th>Tên người dùng</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Quyền admin</th>
        <th>Số dư</th>  <!-- Thêm tiêu đề cho cột số dư -->
        <th>Thao tác</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ 'Có' if user.is_admin else 'Không' }}</td>
        <td>{{ user.balance }} VNĐ</td>  <!-- Hiển thị số dư tiền của người dùng -->
        <td>
            <a href="{{ url_for('admin_edit_user', user_id=user.id) }}">Sửa</a>
            <form action="{{ url_for('admin_delete_user', user_id=user.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?');">
                <button type="submit">Xóa</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('admin_products') }}">Quay lại</a>

{% endblock %}
