{% include 'header.html' %}
<link rel="stylesheet" href="/static/login_register.css">
<main>
    <h1>Đăng nhập</h1>

    

    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Đăng nhập</button>
    </form>
    <p>Chưa có tài khoản? <a href="{{ url_for('register') }}">Đăng ký ngay!</a></p>
</main>

{% include 'footer.html' %}
