{% include 'header.html' %}
<link rel="stylesheet" href="/static/product_detail.css">
<div class="product-detail">
    <h2>Chi tiết sản phẩm</h2>
    <div class="product">
        <img src="{{ product.image_url }}" alt="{{ product.name }}">
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>Mô tả: {{ product.description }}</p>
            <p>Giá: {{ product.price }} VNĐ</p>
            <p>Tác giả: {{ product.author }}</p>
            <p>Danh mục: {{ product.category.name }}</p>
            <form action="{{ url_for('buy_product', product_id=product.id) }}" method="post" onsubmit="confirmPurchase(event)">
                <button type="submit">Mua hàng</button>
            </form>
            <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
                <button type="submit">Thêm vào giỏ hàng</button>
            </form>
        </div>
    </div>
</div>
<script>
    function confirmPurchase(event) {
        if (!confirm("Bạn có chắc chắn muốn mua sản phẩm này không?")) {
            event.preventDefault(); // Ngăn chặn hành động gửi form nếu người dùng chọn "Không"
        }
    }
</script>
{% include 'footer.html' %}
